﻿* {
    font-family: "Comic Sans MS", "Microsoft JhengHei";
}

body {
    background: rgba(0, 0, 0, 0.76);
}

a {
    text-decoration: none !important;
}

.btn-smooth {
    border-radius: 50px;
}

.instruction {
    color: bisque;
}

.form {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.validation-summary-errors > ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}