﻿@model  MVC.Models.Account.LoginForm
@{
    var requestContext = HttpContext.Current.Request.RequestContext;

    string controller = requestContext.RouteData.Values["controller"].ToString();
    string action = requestContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "Login";
}

<style>
    .login-or {
        position: relative;
        color: #aaa;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .span-or {
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color: #fff;
        width: 50px;
        text-align: center;
    }

    .horizontal-line {
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    #Signup, #TermsOfUse {
        display: none;
    }

    #TermsOfUse li {
        word-break: break-word;
    }
</style>

<div class="container">
    <div class="col-md-5 mx-auto">
        @*登入表單*@
        <div id="Login" class="form">
            <div class="mb-3">
                <div class="col-md-12 text-center">
                    <h1>Login</h1>
                </div>
            </div>
            @using (Html.BeginForm(action, controller, FormMethod.Post, new { id = "LoginForm" }))
            {
                <div class="form-group">
                    @Html.LabelFor(i => i.UserId)
                    @Html.EditorFor(i => i.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(i => i.UserId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Password)
                    @Html.PasswordFor(i => i.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.Password, "", new { @class = "text-danger" })
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" });
                <div class="form-group">
                    <p class="text-center">By signing up you accept our <a href="#" class="terms-of-use-form-link" for="TermsOfUse">Terms Of Use</a></p>
                </div>
                <div class="col-md-12 text-center ">
                    <button id="Login" class="btn btn-block btn-smooth btn-primary" type="submit">Login</button>
                </div>
                <div class="col-md-12 ">
                    <div class="login-or">
                        <hr class="horizontal-line">
                        <span class="span-or">or</span>
                    </div>
                </div>
                <div class="form-group">
                    <p class="text-center">Don't have account? <a href="#" class="signup-form-link" for="Signup">Sign up here</a></p>
                </div>
            }
        </div>

        @*註冊表單*@
        <div id="Signup" class="form">
            <div class="mb-3">
                <div class="col-md-12 text-center">
                    <h1>Signup</h1>
                </div>
            </div>
            @using (Html.BeginForm("Signup", controller, FormMethod.Post, new { id = "SignupForm" }))
            {
                <div class="form-group">
                    @Html.LabelFor(i => i.UserId)
                    @Html.EditorFor(i => i.UserId, new { htmlAttributes = new { id = "", @class = "form-control", placeholder = "Your English name (ex: ryan_shen)" } })
                    @Html.ValidationMessageFor(i => i.UserId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.UserName)
                    @Html.EditorFor(i => i.UserName, new { htmlAttributes = new { id = "", @class = "form-control", placeholder = "Both of Chinese and English are ok" } })
                    @Html.ValidationMessageFor(i => i.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Password)
                    @Html.PasswordFor(i => i.Password, new { id = "", @class = "form-control", placeholder = "4-digit Password" })
                    @Html.ValidationMessageFor(i => i.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.InvitationCode)
                    @Html.EditorFor(i => i.InvitationCode, new { htmlAttributes = new { id = "", @class = "form-control", placeholder = "8-digit InvitationCode" } })
                    @Html.ValidationMessageFor(i => i.InvitationCode, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12 text-center mb-3">
                    <button type="submit" class=" btn btn-block btn-smooth btn-primary">Get Started For Free</button>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <p class="text-center"><a href="#" class="login-form-link" for="Login">Already have an account?</a></p>
                    </div>
                </div>
            }
        </div>

        @*使用說明*@
        <div id="TermsOfUse" class="form" invitation-code="35920167">
            <div class="mb-3">
                <div class="col-md-12 text-center">
                    <h1>Terms of use</h1>
                </div>
            </div>
            <div>
                <ul>
                    <li>Everything you found can be a route, a password, or a clue to answer. It's recommended keeping them for the following problems.</li>
                    <li>Once you've signed up, remember your password because there is no 「Forget Password」button for you.</li>
                    <li>The order of the problems doesn't that matter. Sometimes you might solve the problems without order.</li>
                    <li>The framework of this site is .NET Framework MVC, so you don't need to add any extensions to the URL (like .html、.js...). The basic format of URLs is "http://ryanshen.ddns.net/mvc/{controller}/{action}" where ONLY 3 controllers are used to create this website.</li>
                </ul>
                <div class="form-group">
                    <p class="text-center"><a href="#" class="login-form-link" for="Login">Back to login page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


@* Problem/ShowTheTitles *@
<!-- 80 114 111 98 108 101 109 47 83 104 111 119 84 104 101 84 105 116 108 101 115 -->

@Scripts.Render("~/Scripts/Account/Login.js")
