﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- ↓↓↓↓↓ NO need to check these files ↓↓↓↓↓ -->
    @Styles.Render("~/Content/ThirdParty/bootstrap.css")
    @Styles.Render("~/Content/ThirdParty/csshake-slow.css")
    @Styles.Render("~/Content/ThirdParty/kendo/kendo.common.min.css")
    @Styles.Render("~/Content/ThirdParty/kendo/kendo.silver.min.css")
    @Styles.Render("~/Content/Common/Common.css")
    @Styles.Render("~/Content/Common/FlickerButton.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/common")
    <script src="~/Scripts/ThirdParty/jquery.signalR-2.4.1.js"></script>
    <script src="~/Scripts/Chatroom/SignalR.js"></script>
    <script src="~/signalr/hubs"></script>
    <!-- ↑↑↑↑↑ NO need to check these files ↑↑↑↑↑ -->
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button id="ProblemList" class="btn btn-info" url="@Url.Action("Problem", "Problem")">Problem List</button>
        @*@Html.ActionLink("Chatroom", "Chatroom", "Chatroom", new { roomId = "001" })*@
        @Html.ActionLink("Logout", "Logout", "Account")
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted" style="font-weight: bold">
                This website is a game of hacking. It trains your basic hacking skills, and other skills like <strong>H</strong>TML, CSS, Javascri<b>p</b>t, and so on.
                <br />
                Before sta<b>r</b>ting t<b>o</b> play th<strong>i</strong>s game, you are advise<strong>d</strong> beat hackertest.net f<strong>i</strong>rst.
                <br />
                You had <b>b</b>etter search o<strong>n</strong> goog<b>l</b>e whenever you <strong>g</strong><b>e</b>t stuck in problems. The more you search, the <b>m</b>ore you learn.
            </span>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @* Problem/JsMakesYouAngry *@
            <p>
                Copyright &copy; @DateTime.Now.Year Ryan Shen. All rights reserved
                @if (ViewBag.RoomId == "001")
                {
                    <span style="color: rgba(0, 0, 0, 0);">VlVoS2RsbHRlR3hpVXpsTFl6QXhhR0V5Vm5wWFZ6a3hVVmMxYm1OdWF6MD0=</span>
                }
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
