﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/ThirdParty/bootstrap.css")
    @Styles.Render("~/Content/ThirdParty/kendo/kendo.common.min.css")
    @Styles.Render("~/Content/ThirdParty/kendo/kendo.silver.min.css")
    @Styles.Render("~/Content/Common/Common.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/Scripts/Shared/Layout.js")
    @Scripts.Render("~/Scripts/Common/Common.js")
    @Scripts.Render("~/Scripts/Common/jquery.common.js")
</head>
<body>
    @RenderBody()
</body>
</html>
