﻿@model MVC.Models.Chatroom.ChatroomForm
@{
    var requestContext = HttpContext.Current.Request.RequestContext;

    string controller = requestContext.RouteData.Values["controller"].ToString();
    string action = requestContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "Chatroom";
}

<style>
    form {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 1.1rem;
        outline: 0;
        max-width: 500px;
    }

    #MessageContainer {
        height: 50vh;
        overflow-y: scroll;
    }

    .message {
        margin-top: 5px;
        padding: 0px 10px;
        background-color: white;
        border-radius: 1.1rem;
    }

    .message-content {
        white-space: pre-wrap;
    }

    .message-time {
        text-align: right;
    }

    textarea {
        resize: none;
    }
</style>

@{
    switch (ViewBag.RoomId)
    {
        case "071":
            <style>
                body {
                    background-color: black;
                }
            </style>
            break;
        case "405":
            <style>
                body {
                    background-image: url(@Url.Content("~/Images/Chatroom/405.png"));
                    background-size: cover;
                }
            </style>
            break;
    }
}

<div class="container">
    <div id="MessageContainer">
    </div>
    @using (Html.BeginForm("SendMessage", controller, FormMethod.Post, new { id = "ChatroomForm", @class = "col-md-12 mx-auto" }))
    {
        <div>
            <div class="form-group">
                @Html.LabelFor(i => i.UserName)
                @Html.DisplayFor(i => i.UserName)
                @Html.HiddenFor(i => i.UserName)
                @Html.TextAreaFor(i => i.Message, new { @class = "col-12" })
            </div>

            <div class="col-md-12 text-center">
                <button id="Send" class="btn-primary" type="submit">Send</button>
            </div>
        </div>
    }
</div>


<div id="GetAllMessageUrl" url="@Url.Action("GetAllMessage", controller)" hidden></div>
<div id="CId" hidden>@ViewBag.ConversationId</div>

<!-- ↓↓↓↓↓ NO need to check these files ↓↓↓↓↓ -->
<script id="MessageTemplate" type="text/x-kendo-template">
    <div class="message">
        <div class="message-sender">#= UserName #</div>
        <pre class="message-content">#= Message #</pre>
        <div class="message-time">#= SendDate #</div>
    </div>
</script>
<!-- ↑↑↑↑↑ NO need to check these files ↑↑↑↑↑ -->

@Scripts.Render("~/Scripts/Chatroom/Chatroom.js")
