﻿@model  MVC.Models.Account.LoginForm

@{
    ViewBag.Title = "SqlInjection";
}

<div id="SqlInjectionUrl" url="@Url.Action("SqlInjection")" hidden></div>

<script>
    (function Login() {
        var userId = prompt('UserId');
        var password = prompt('Password');

        //Authenticate the user from the Account table.
        $.post($('#SqlInjectionUrl').attr('url'), { form: { UserId: userId, Password: password } })
            .done(function (data) {
                if (data) {
                    alert(data);
                    return;
                }
                location.reload();
            })
            .fail(function (data) {
                alert(data.responseText || 'Login failed');
                Login();
            });
    })();
</script>