﻿@model  MVC.Models.Account.LoginForm

@{
    var requestContext = HttpContext.Current.Request.RequestContext;

    string controller = requestContext.RouteData.Values["controller"].ToString();
    string action = requestContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "Unsubmittable";
}

<div class="container">
    <div class="col-md-5 mx-auto">
        @*登入表單*@
        <div id="LoginForm" class="form">
            <div class="mb-3">
                <div class="col-md-12 text-center">
                    <h5>Please login again.</h5>
                </div>
            </div>
            @using (Html.BeginForm("Unsubmittable", controller, FormMethod.Post, new { id = "UnsubmittableForm" }))
            {
                <div class="form-group">
                    @Html.LabelFor(i => i.UserId)
                    <input id="UserId" class="form-control" />
                </div>

                <div class="form-group">
                    @Html.LabelFor(i => i.Password)
                    <input id="Password" class="form-control" type="password" />
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" });
                <div class="col-md-12 text-center ">
                    <button id="Login" class="btn btn-smooth btn-primary" type="submit">Submit</button>
                </div>
            }

        </div>
    </div>
</div>
