﻿@model DTO.Problem.Operation

@{
    var requestContext = HttpContext.Current.Request.RequestContext;

    string controller = requestContext.RouteData.Values["controller"].ToString();
    string action = requestContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "Simple Calculator";
}

<div class="container" style="text-align: center;">
    <div class="instruction">
        <h2>Simple Calculator</h2>
    </div>
    @using (Html.BeginForm("Calculator", controller, FormMethod.Post, new { id = "CalculatorForm", @class = "col-md-12 mx-auto" }))
    {
        <div>
            <div class="form-group">
                @Html.LabelFor(i => i.N1)
                @Html.EditorFor(i => i.N1, new { htmlAttributes = new { @class = "pointer", @readonly = "readonly" } })
                @Html.ValidationMessageFor(i => i.N1, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.Op)
                @Html.EditorFor(i => i.Op, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(i => i.Op, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(i => i.N2)
                @Html.EditorFor(i => i.N2, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(i => i.N2, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-primary operand" type="button">1</button>
                <button class="btn btn-lg btn-primary operand" type="button">2</button>
                <button class="btn btn-lg btn-primary operand" type="button">3</button>
                <button class="btn btn-lg btn-primary operator" type="button">+</button>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary operand" type="button">4</button>
                <button class="btn btn-lg btn-primary operand" type="button">5</button>
                <button class="btn btn-lg btn-primary operand" type="button">6</button>
                <button class="btn btn-lg btn-primary operator" type="button">-</button>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary operand" type="button">7</button>
                <button class="btn btn-lg btn-primary operand" type="button">8</button>
                <button class="btn btn-lg btn-primary operand" type="button">9</button>
                <button class="btn btn-lg btn-primary operator" type="button">*</button>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary clear" type="reset">C</button>
                <button class="btn btn-lg btn-primary operand" type="button">0</button>
                <button class="btn btn-lg btn-primary equal" type="submit">=</button>
                <button class="btn btn-lg btn-primary operator" type="button">/</button>
            </div>
        </div>
    }
</div>

<!-- Just crack it. -->

<script>
    $('.operand').click(function (e) {
        if ($('#Op').hasClass('pointer')) {
            $('#Op').removeClass('pointer')
            $('#N2').addClass('pointer');
        }
        $('.pointer').val(parseInt($('.pointer').val() + $(e.target).text()));
    });

    $('.operator').click(function (e) {
        $('input').removeClass('pointer');
        $('#Op').addClass('pointer');
        $('.pointer').val($(e.target).text());
    });
</script>