﻿
@{
    ViewBag.Title = "Grid";
}

<div id="Grid"></div>

<div id="GetGridData" url="@Url.Action("GetGridData")" hidden></div>

<script>
    $(function () {
        let grid = $('#Grid').kendoGrid({
            columns: [
                {
                    title: 'Id',
                    field: 'Id',
                    width: '25%'
                },
                {
                    title: 'Name',
                    field: 'Name',
                    width: '25%'
                },
                {
                    title: 'Data',
                    field: 'Data',
                    width: '25%'
                },
                {
                    title: 'Date',
                    field: 'Date',
                    width: '25%'
                }
            ],
            dataSource: {
                transport: {
                    read: {
                        type: 'post',
                        dataType: 'json',
                        url: $('#GetGridData').attr('url')
                    }
                },
                schema: {
                    data: 'GridDatas',
                    total: 'Total'
                },
                serverPaging: true,
                page: @ViewBag.Page,
                pageSize: 5
            },
            height: '300px',
            width: 'auto',
            pageable: {
                buttonCount: 1
            },
            dataBinding: function (data) {
                $.each(data.items, function (i, e) {
                    if (e.Date) {
                        e.Date = parseJsonDate(e.Date).toLocaleString('zh-TW', { hour12: false });
                    }
                })
            }
        }).data('kendoGrid');

        $(window.self).on('keydown', function (e) {
            if (e.key === 'F12') {
                return false;
            }
        });

        $(window.self).on('contextmenu', function () {
            return false;
        }); 
    });
</script>