﻿
@{
    var requestContext = HttpContext.Current.Request.RequestContext;

    string controller = requestContext.RouteData.Values["controller"].ToString();
    string action = requestContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "Hiding";
}

<style>
    body {
        background: rgba(0, 0, 0, 0.76);
    }
    #Robot {
        margin-top: 65vh;
        height: 80px;
        width: 80px;
    }
    #Background {
        background-image: url(@Url.Content("~/Images/Problem/Background.png"))
    }
</style>

<img id="Robot" src="~/Images/Problem/robot.png" />
<div id="Background"></div>

@if (ViewBag.EnableClickRobotEvent != null && ViewBag.EnableClickRobotEvent == true)
{
    <div id="ClickRobotUrl" url="@Url.Action("Fina1Page", controller)" hidden></div>
    <script>

        $('#Robot').click(function () {
            location.assign($('#ClickRobotUrl').attr('url'));
        })
    </script>
}

<script>
    //Blocked, huh?
    $.blockUI();
</script>