﻿@model  MVC.Models.Problem.RegexForm

@{
    var requestContext = HttpContext.Current.Request.RequestContext;

    string controller = requestContext.RouteData.Values["controller"].ToString();
    string action = requestContext.RouteData.Values["action"].ToString();
    ViewBag.Title = "MatchIt";
}

<div class="container">
    <div class="col-md-5 mx-auto">
        <div id="Login" class="form">
            <div class="mb-3">
                <div class="col-md-12 text-center">
                    <h5>Try to find out valid inputs to match every pattern.</h5>
                </div>
            </div>
            @using (Html.BeginForm(action, controller, FormMethod.Post, new { id = "RegexForm" }))
            {
                <div class="form-group">
                    @Html.LabelFor(i => i.Q1)
                    @Html.EditorFor(i => i.Q1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(i => i.Q1, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(i => i.Q2)
                    @Html.EditorFor(i => i.Q2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(i => i.Q2, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(i => i.Q3)
                    @Html.EditorFor(i => i.Q3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(i => i.Q3, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(i => i.Q4)
                    @Html.EditorFor(i => i.Q4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(i => i.Q4, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(i => i.Q5)
                    @Html.EditorFor(i => i.Q5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(i => i.Q5, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-12 text-center ">
                    <button id="Login" class="btn btn-smooth btn-primary" type="submit">Submit</button>
                </div>
            }

        </div>
    </div>
</div>

