﻿@{
    ViewBag.Title = "Problem";
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}

<div id="Grid" style="border: 0px"></div>

<div id="RankingUrl" url="@Url.Action("Ranking")" hidden></div>
<div id="GetSelfRecordsUrl" url="@Url.Action("GetSelfRecords")" hidden></div>

@Scripts.Render("~/Scripts/Problem/Problem.js")

