﻿@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/_WindowLayout.cshtml";
}

<div id="Grid" style="border: 0px"></div>

<div id="GetRankingUrl" url="@Url.Action("GetRanking")" hidden></div>
<div id="ProblemId" hidden>@ViewBag.ProblemId</div>

@Scripts.Render("~/Scripts/Problem/Ranking.js")

